<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="StoreDAO">
	<select id="listDAO" resultType="com.shop.dto.StoreDTO">
		SELECT A.*, B.KI_NAME 
		FROM ALCOHOLS A 
		JOIN AL_KINDS B 
		ON A.KI_NUM = B.KI_NUM 
		WHERE B.KI_NAME = #{al_kind}
	</select>
</mapper>